		<div class="col-md-3 text-center position-relative" th:fragment="header" style="background: #4e4f52; max-width: 270px">
				<p class="m-3">
					<span>Dashboard</span>
				</p>
				<ul class="nav flex-column position-relative">
					<li class="nav-item">
					    <a class="nav-link text-white p-0" th:href="@{/new-product}">Novo Produto</a>
					</li>
					<li class="nav-item  mt-3">
					     <a class="nav-link text-white  p-0" th:href="@{/products}">Listar Produto</a>
					</li>
					 
				   <div class="position-absolute div-ball">
					     <span class="position-relative" style="width: 50px;height: 70px">
					        
						      <svg viewBox="0 0 352.04 461" width="100px" height="220px" fill="#FFF" class="d-none d-sm-block">
						         <path class="cls-1" d="M362.87,10V94.91l-3.2,14.54L354,123.34l-12.33,18.22L327,157.85l-14.21,15.82-10.9,13.9L293.33,200l-6.16,12.46-2.37,13.9v11.5l1.89,10.28,3.79,11.77,5.69,9.58,4.26,6.71,9.48,11.5,6.16,6.24,10.43,11,9,10.06,6.64,8.63,6.16,7.67,3.79,7.19s1-1.44,4.74,8.62l3.79,10.07,2.25,11V470.34"transform="translate(-284.8 -9.8)"/>
						      </svg>
							  <svg  width="36" height="36" class="ball-ico bi bi-arrow-left-short position-absolute border rounded-circle p-2" viewBox="0 0 16 16">
								  <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
							  </svg>
						      
					   </span>
			  	   </div>
				</ul>
			
			</div>